<h1>Welcome to Fashionnxt, <%= @userG.first_name %></h1>
<p>
  You have successfully signed up to Fashionnxt
  your username is: <%= @userL["email"] %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>